/.idea/*
!/.idea/dictionaries/
/.idea/dictionaries/*
!/.idea/dictionaries/*.xml
/renderer/**/*.proto

/target/

# QGIS layer metadata sidecar file
*.qmd
# QGIS coordinate reference system metadata
*.prj

screenshot*.png
log.txt
*.log
